@import 'color';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: 0.3s ease;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}


/* Background css */
.bg {
    background-position: center;
    background-size: cover;
    position: relative;

}

.features-title {
    h6 {
        color: $primary_color;
        padding-bottom: 10px;
    }
}


.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    padding: 50px 0;
}

ul.slick-dots {
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.slick-dots li button {
    font-size: 0;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    background-color: $white;
    border-radius: 50%;
    transition: .3s ease;
}

.slick-dots {
    .slick-active {
        background-color: $primary_color;
        border-radius: 50%;
    }

}


.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background-color: transparent;
    border-radius: 50%;


}

// .slick-dots li button:before {
//     content: '';
//     font-size: 22px;
//     line-height: 20px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 20px;
//     height: 20px;
//     background-color: #fff;
//     border-radius: 50%;
//     text-align: center;
//     color: #fff;
//     z-index: 50;
// }

.bottom-line {
    position: relative;


    &:before {
        content: '';
        position: absolute;
        top: 80px;
        left: 40;

        width: 20px;
        height: 2px;
        transform: translate(-50%, -50%);
        background-color: $primary_color;
        margin-left: -30px !important;
    }

    &:after {
        content: '';
        position: absolute;
        top: 80px;
        right: 40;
        width: 20px;
        height: 2px;
        transform: translate(-50%, -50%);
        background-color: $primary_color;
        margin-right: 30px !important;
    }

}


/* Margin &padding */
@for $i from 1 through 10 {
    .pt-#{$i * 10} {
        padding-top: $i * 10px;
    }

    .pb-#{$i * 10} {
        padding-bottom: $i * 10px;
    }

    .mt-#{$i * 10} {
        margin-top: $i * 10px;
    }

    .mb-#{$i * 10} {
        margin-bottom: $i * 10px;
    }

}