.contact-area {
    background-color: #ededed;
    position: relative;
    padding-top: 80px;

    .contact-form-wrapper {
        padding-bottom: 300px;
    }

    .form-area {
        position: absolute;
        background-color: #000;
        width: 80%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 20px;
        z-index: 100;


        .contact-form {


            input {
                border-color: inherit;
                -webkit-box-shadow: none;
                box-shadow: none;
                background-color: transparent !important;
                border: 1px solid #444348;
                border-radius: 0 !important;
                color: #fff;
                padding: 16px 10px;

                &::placeholder {
                    color: #444348;

                }
            }

            textarea {
                border-color: inherit;
                -webkit-box-shadow: none;
                box-shadow: none;
                background-color: transparent !important;
                border: 1px solid #444348;
                border-radius: 0 !important;
                color: #fff;

                &::placeholder {
                    color: #444348;

                }
            }
        }


    }

    iframe {
        position: relative;
        height: 600px;
        z-index: 0;

    }



}

.contact-bottom {
    padding: 40px 0;
    background-color: #000;
    position: relative;




    ul {
        display: flex;


        li {
            display: inline-block;
            padding: 0 10px;
        }



    }
}

// .contact-area {
//     background-color: #ededed;
//     padding-top: 80px;
//     height: 100%;
//     position: relative;


//     .form-area {
//         position: relative;
//         background-color: #000;
//         max-width: 1000px;
//         margin: 0 auto;
//         padding: 50px 20px;
//         z-index: 100;


//         .contact-form {
//             input {
//                 border-color: inherit;
//                 -webkit-box-shadow: none;
//                 box-shadow: none;
//                 background-color: transparent !important;
//                 border: 1px solid #444348;
//                 border-radius: 0 !important;
//                 color: #fff;
//                 padding: 16px 10px;

//                 &::placeholder {
//                     color: #444348;

//                 }
//             }

//             textarea {
//                 border-color: inherit;
//                 -webkit-box-shadow: none;
//                 box-shadow: none;
//                 background-color: transparent !important;
//                 border: 1px solid #444348;
//                 border-radius: 0 !important;
//                 color: #fff;

//                 &::placeholder {
//                     color: #444348;

//                 }
//             }
//         }


//     }

//     iframe {
//         position: absolute;
//         left: 0;
//         top: 90%;
//         z-index: 0;

//     }



// }

// .contact-bottom {
//     padding: 50px 0;
//     background-color: #000;
//     position: relative;
//     margin-top: 500px;

//     .bottom-footer {
//         position: absolute;
//         z-index: 1;
//         left: 0;


//     }

//     ul {
//         display: flex;


//         li {
//             display: inline-block;
//             padding: 0 20px;
//         }



//     }
// }